body {
overflow-x: hidden;
}
.wrapper {
width: 85%;
height: auto;
margin: auto;
}
.portfolio {
display: block;
background-color: #2d303a;
width: 100%;
height: 870px;
}
.portfolio-wrapper {
height: 100%;
width: 92.1%;
margin: auto;
}
.tag-bar {
width: 100%;
background-color:#2d303a;
height: 22%;
display: flex;
flex-direction: column;
}
.tex-one {
width: 100%;
height: 57%;
}
.head-text {
font-family: 'Lato', sans-serif;
color: rgba(102, 109, 137, 255);
font-size: 1.9em;
padding-top: 6.72%;
font-weight: 600;
padding-left: 0%;
letter-spacing: 0.4px;
}
.tex-two_container {
width: 100%;
height: 22%;
display: flex;
flex-direction: row;
}
.text-two_text {
font-family: 'Lato', sans-serif;
color: rgba(118, 126, 158, 255);
padding-top: 1.3%;
letter-spacing: 0.5px;
font-size: 1.03em;
}
@media (max-width: 874px) { 
    .text-two_text {
    font-family: 'Lato', sans-serif;
    color: rgba(118, 126, 158, 255);
    padding-top: 1.3%;
    letter-spacing: 0.5px;
    font-size: 0.7em;
        }
    }
    @media (max-width: 612px) { 
    .text-two_text {
    font-family: 'Lato', sans-serif;
    color: rgba(118, 126, 158, 255);
    padding-top: 1.3%;
    letter-spacing: 0.5px;
    font-size: 0.6em;
        }
        }
.text-two_text2 {
font-family: 'Lato', sans-serif;
color: rgba(118, 126, 158, 255);
padding-top: 1.3%;
letter-spacing: 0.4px;
font-size: 1.03em;
}
@media (max-width: 874px) { 
    .text-two_text2 {
    font-family: 'Lato', sans-serif;
    color: rgba(118, 126, 158, 255);
    padding-top: 1.3%;
    letter-spacing: 0.4px;
    font-size: 0.7em;
        }
    }
@media (max-width: 612px) { 
    .text-two_text2 {
    font-family: 'Lato', sans-serif;
    color: rgba(118, 126, 158, 255);
    padding-top: 1.3%;
    letter-spacing: 0.4px;
    font-size: 0.6em;
        }
}
.tag-area {
display: flex;
flex-direction: row;
}
.img-button_all {
margin-top: 0.4%;
border-radius: 6px 6px 6px 6px;
z-index: 5;
cursor: pointer;
}
.img-button_webD {
margin-top: 0.4%;
margin-left: 1.1%;
border-radius: 6px 6px 6px 6px;
z-index: 5;
cursor: pointer;
}
.img-button_GD {
margin-top: 0.4%;
margin-left: 1.1%;
border-radius: 6px 6px 6px 6px;
z-index: 5;
cursor: pointer;
}
.img-button_artWork {
margin-top: 0.4%;
margin-left: 1.1%;
border-radius: 6px 6px 6px 6px;
z-index: 5;
cursor: pointer;
}
.button-text {
width: 78.3%;
height: 7.2%;
position: absolute;
margin-top: 153px;
display: flex;
flex-direction: row;
}
.button-wrapper {
width: 100%;
height: 100%;
display: flex;
}
.button-text_one {
height: 100%;
width: 30px;
margin-left: 0.1%;
}
.button-text_all {
font-family: 'Lato', sans-serif;
color: rgba(222, 222, 222, 255);
padding-top: 28%;
font-size: 0.7em;
margin-left: 0.66vw;
z-index: 8;
height: 34%;
}
.button-text_two {
height: 100%;
width: 78px;
margin-left: 1%;
}
.button-web_design {
font-family: 'Lato', sans-serif;
color: #767e9e;
padding-top: 10%;
font-size: 0.71em;
margin-left: 0.63vw;
height: 34%;
}

.button-text_tree {
height: 100%;
width: 93px;
margin-left: 1%;
}
.button-graphic_design {
font-family: 'Lato', sans-serif;
color: #767e9e;
padding-top: 9%;
font-size: 0.73em;
margin-left: 0.6vw;
height: 33%;
}
.button-text_four {
height: 100%;
width: 57px;
margin-left: 1%;
}
.button-art_work {
font-family: 'Lato', sans-serif;
color: #767e9e;
padding-top: 14.5%;
font-size: 0.73em;
margin-left: 0.6vw;
}

.galleria {
width: 100%;
background-color:#2d303a;
height: auto;
display: flex;
flex-direction: column;
}
.galleria-section_one {
width: 100%;
height: 187px;
margin: 0.5% auto auto auto;
display: flex;
flex-direction: row;
overflow: hidden;
}
.section-one-img1 {
margin: auto auto auto 0px;
height: auto;
width: 23.52%;
}
.section-one-img2 {
margin: auto;
height: auto;
width: 23.52%;
}
.section-one-img3 {
margin: auto;
height: auto;
width: 23.52%;
}
.section-one-img4 {
margin: auto 0px auto auto;
height: auto;
width: 23.52%;
}
.galleria-section_two {
width: 100%;
height: 190px;
margin: 1.93% auto auto auto;
display: flex;
flex-direction: row;
overflow: hidden;
}
.section-two-img0 {
margin: auto auto auto 0px;
height: auto;
width: 23.52%;
}
.section-two-img1 {
margin: auto;
height: auto;
width: 23.52%;
}
.section-two-img2 {
margin: auto;
height: auto;
width: 23.52%;
}
.section-two-img3 {
margin: auto 0px auto auto;
height: auto;
width: 23.52%;
}
.galleria-section_tree {
width: 100%;
height: 186px;
margin: 1.9% auto auto auto;
display: flex;
flex-direction: row;
justify-content: flex-start;
overflow: hidden;
}
.section-tree-img1 {
height: auto;
width: 23.52%;
margin-right: 2.1%;
}
.section-tree-img2 {
height: auto;
width: 23.52%;
margin-right: 2%;
}
.section-tree-img3 {
height: auto;
width: 23.52%;
margin-right: 0.3%;
}
.section-tree-img4 {
height: auto;
width: 23.52%;
margin-left: 2%;
}
.section-tree-img5 {
    margin: auto 0px auto auto;
    height: auto;
    width: 23.52%;
    }
.wrapper-galer {

}

.about-us {
display: block;
width: 100%;
background-color: brown;
height: 734px;
}
.about-us-wrapper {
height: 100%;
width: 92.1%;
margin: auto;
}
.tex-bar {
    width: 100%;
    background-color: rgb(1, 204, 255);
    height: 29%;
}
.photo-colum {
width: 100%;
background-color: rgb(145, 255, 0);
height: 62%;
}